@font-face {
  font-family: "Raleway-Bold";
  src: url("./fonts/Raleway-Bold.woff") format("woff"),
    url("./fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./fonts/Raleway-Regular.woff") format("woff"),
    url("./fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 92px 50px 96px;

  position: relative;
}

.list-style-type-none {
  list-style-type: none !important;
}

.text-decoration-none {
  text-decoration: none;
}

.menu__list {
  position: absolute;
  top: 136px;
  left: 50px;

  display: flex;
  gap: 30px;
}

.menu__item {
  list-style-type: circle;
}

.menu__text {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.logo {
  justify-self: center;
  width: 135px;
  height: 105px;
}

.address {
  justify-self: flex-end;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.address__text {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.cover {
  display: flex;
  min-height: 757px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/cover.jpg");
  background-position: center;
  position: relative;
  z-index: 0;
}

.title {
  position: relative;
  font-weight: 700;
  font-size: 100px;
  color: rgba(255, 255, 255, 1);
  padding: 165px 50px 50px 50px;
  z-index: 2;
}

.text-left {
  letter-spacing: 25px;
  display: block;
}

.text-center {
  letter-spacing: 25px;
  text-align: center;
  display: block;
}

.text-right {
  letter-spacing: 25px;
  text-align: end;
  display: block;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 2;
  color: rgba(255, 255, 255, 1);
  padding: 65px 50px 50px 50px;
}

.description-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: white;
  word-spacing: 20px;
}

.button {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  width: 259px;
  height: 54px;
  background-color: transparent;
  border: 1.5px solid white;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lots {
  padding: 180px 24px 120px 24px;
}

.main-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  padding-left: 40px;
  padding-bottom: 27px;
}

.card__list {
  display: flex;
  justify-content: space-between;
}

.card__item-one,
.card__item-two,
.card__item-three {
  position: relative;
  overflow: hidden;
  width: 334px;
  height: 596px;
  background-size: cover;
  background-position: center;
}

.card__item-one {
  background: url("/images/card-lot-01.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
}

.card__item-two {
  background-image: url("/images/card-lot-02.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
}

.card__item-three {
  background-image: url("/images/card-lot-03.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration-line: underline;
  padding-top: 48px;
  padding-left: 40px;
  text-transform: uppercase;
  color: white;
}

.card__text {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  flex-direction: column;
  margin-top: auto;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.lots__look-more-link {
  padding-left: 40px;
  padding-top: 40px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 23px;
  line-height: 23.48px;
  display: block;

  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 120px 50px 180px 50px;
}

.about__logo {
  width: 240px;
}

.circle {
  display: grid;
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
  place-items: center;
}

.logo__in__circle {
  max-width: 148px;
  max-height: 114px;
  object-fit: contain;
}

.about {
  display: flex;
  flex-direction: column;
}

.about__top {
  display: flex;
  align-items: center;
  gap: 72px;
}

.about__bottom {
  padding-left: 312px;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  color: #000000;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}

.about__text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 43px 50px 96px;
}

.footer .socials {
  justify-self: end; /* Социальные сети выравниваются по правому краю */
  display: flex;
  justify-content: flex-end; /* Иконки выравниваются по правому краю */
  align-items: center; /* Выравнивание по вертикали по центру */
  width: 48px; /*нужный размер */
  height: 48px; /*нужный размер */
  gap: 48px; /* Расстояние между иконками */
  margin-right: 50px; /* Отступ слева 50px */
}
.menu__footer {
  padding: 0; /* Убираем отступы по умолчанию */
  margin: 0; /* Убираем отступы по умолчанию */
  display: flex;
  flex-direction: column;
  align-items: center; /* Выравнивание по горизонтали по центру */
}

.address__footer {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  padding-left: 50px;
}
.menu__style {
  list-style-type: none; /* Убираем маркеры списка */

  display: flex;
  flex-direction: column;
  align-items: center;
}
.socials__item {
  cursor: pointer;
}
